.Contact{
  height:100vh;
  margin:0 7%;
  position:relative;
  h2{
    position:absolute; top:200px; left:50%;
    transform:translate(-50%);
    font-size:1.5rem; font-weight:700;
    color:#000;
    text-shadow:1px 1px 1px #808080; -webkit-text-stroke:1px #fff;
  }
  .git{
    position:absolute; top:400px; left:50%;
    display:flex;
    transform:translate(-50%);
    border-radius:10px;
    background-color:#202020;
    a{
      display:flex; flex-direction:column;
      margin:30px 50px;
      img{
        width:70px; height:70px;
        margin-bottom:10px;
      }
      span{
        font-size:0.75rem; text-align:center;
      }
    }
  }
  .github-link{
    position:fixed; bottom:30px; right:7%;
    img{
      width:30px; height:30px;
    }
  }
}

@media screen and (min-width:600px){
  .Contact{
    margin:0 9%;
    .github-link{
      right:9%;
    }
  }
}

@media screen and (min-width:768px){
  .Contact{
    margin:0 11%;
    h2{
      font-size:2rem;
    }
    .github-link{
      right:11%;
    }
  }
}

@media screen and (min-width:1200px){
  .Contact{
    margin:0 13%;
    h2{
      font-size:2.5rem;
    }
    .github-link{
      right:13%;
    }
  }
}