.Profile{
  margin:0 7%;
  h2{
    display:flex;
    padding-top:200px;
    font-size:1.5rem; font-weight:700;
    color:#000;
    text-shadow:1px 1px 1px #808080; -webkit-text-stroke:1px #fff;
  }
  .about{
    display:flex; flex-direction:column; gap:100px;
    padding-top:100px;
    .about-me{
      display:flex; flex-direction:column; gap:30px;
      h3{
        padding:0 5px;
        font-size:0.95rem;
      }
      p{
        font-size:1rem;
        padding:0 5px;
        span{
          color:#07b62a;
        }
      }
    }
    .about-skill{
      padding:30px 10px 50px;
      border-radius:7px;
      background-color:#202020;
      .logos{
        margin-bottom:40px;
        h3{
          margin-bottom:20px;
          font-size:0.95rem;
          color:#07b62a;
        }
        img{
          width:25px; height:25px;
          padding:10px;
        }
      }
    }
  }
}

@media screen and (min-width:600px){
  .Profile{
    margin:0 9%;
  }
}

@media screen and (min-width:768px){
  .Profile{
    margin:0 11%;
    h2{
      font-size:2rem;
    }
    .about{
      .about-me{
        p{
          font-size:1.25rem;
        }
      }
      .about-skill{
        display:flex; gap:50px;
        .logos{
          flex:1;
          padding:0 40px;
          img{
            width:35px; height:35px;
          }
        }
      }
    }
  }
}

@media screen and (min-width:1200px){
  .Profile{
    margin:0 13%;
    h2{
      font-size:2.5rem;
    }
    .about{
      .about-me{
        h3{
          font-size:1.2rem; font-weight:500;
        }
        p{
          font-size:1.75rem; font-weight:600;
        }
      }
      .about-skill{
        .logos{
          h3{
            font-size:1.2rem;
          }
          img{
            width:50px; height:50px;
          }
        }
      }
    }
  }
}