.Profile{
  height:1000px;
  h2{
    display:flex; align-items:center;
    height:250px;
    margin-left:5%;
    font-size:1.5rem; font-weight:700;
    color:#000;
    text-shadow:1px 1px 1px #808080; -webkit-text-stroke:1px #fff;
  }
  .about{
    display:flex; flex-direction:column; gap:100px;
    margin:0 5%;
    .about-me{
      display:flex; flex-direction:column; gap:7px;
      h3{
        padding:0 5px;
        font-size:0.95rem;
        color:#07b62a;
      }
    }
    .about-skill{
      background-color:#202020;
      border-radius:7px;
      h3{
        padding:5px 10px 0;
        font-size:0.95rem;
        color:#07b62a;
      }
      img{
        width:25px; height:25px;
        padding:10px;
      }
    }
  }
}