.Project{
  margin:0 7%;
  h2{
    display:flex; align-items:flex-end;
    height:200px;
    font-size:1.5rem; font-weight:700;
    color:#000;
    text-shadow:1px 1px 1px #808080; -webkit-text-stroke:1px #fff;
  }
  .content{
    margin:100px 0 200px;
    img{
      width:100%; min-width:300px;
      margin-bottom:20px;
    }
    span{
      font-size:0.95rem;
    }
  }
}

@media screen and (min-width:600px){
  .Project{
    margin:0 9%;
  }
}

@media screen and (min-width:768px){
  .Project{
    margin:0 11%;
    h2{
      font-size:2rem;
    }
  }
}

@media screen and (min-width:1200px){
  .Project{
    margin:0 13%;
    h2{
      font-size:2.5rem;
    }
  }
}